---
import HorizontalCard from "./HorizontalCard.astro";
import Card from "./Card.astro";
export interface CardData {
  id?: string;
  imageSrc: string;
  imageAlt: string;
  preText?: string;
  title: string;
  description?: string;
  text1?: string;
  text2?: string;
}

interface Props {
  objectType: string;
  title?: string;
  onViewAll?: string;
  children?: React.ReactNode;
  cards: CardData[];
  imageRatio?: "square" | "4:3" | "16:9" | "3:4" | "custom";
}

const { objectType, title, onViewAll, children, cards, imageRatio } =
  Astro.props;
---

<section class="py-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    {/* Header with title and view all button */}
    <div class="flex items-center justify-between md:justify-start mb-6">
      <h2
        class="text-2xl font-bold text-primary md:w-1/3"
        transition:name={title}
      >
        {title}
      </h2>
      {
        onViewAll && (
          <a href={onViewAll}>
            <button class=" text-secondary hover:text-primary font-medium text-sm border-l border-black pl-4 transition-colors  cursor-pointer">
              view all
            </button>
          </a>
        )
      }
    </div>

    {/* Card list - scrollable or grid */}
    <div class={""}>
      <div class={"flex flex-col space-y-4 pb-4"}>
        {
          children ||
            cards.map((card, index) => (
              <div class={""}>
                <HorizontalCard
                  id={card.id}
                  objectType={objectType}
                  imageSrc={card.imageSrc}
                  imageAlt={card.imageAlt}
                  title={card.title}
                  description={card.description}
                  text1={card.text1}
                  text2={card.text2}
                  imageRatio={imageRatio}
                  onclick={"click"}
                />
              </div>
            ))
        }
      </div>
    </div>
  </div>
</section>
