---
// src/layouts/BaseLayout.astro
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter, fade } from "astro:transitions";

export interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title = "artmena",
  description = "Discover contemporary artworks and exhibitions",
  image = "/default-og-image.jpg",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <ClientRouter />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- SEO / Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  </head>
  <body>
    <div
      class="absolute w-full h-1000 bg-white z-100 md:hidden items-center pt-50"
    >
      Mobile Version coming soon
    </div>
    <Header />

    <!--<main id="main-content" transition:animate={fade({ duration: "0.6s" })}>-->
    <!--  <slot />-->
    <!--</main>-->
    <main id="main-content">
      <slot />
    </main>

    <Footer />
  </body>
</html>
